@import url("reset.css");

@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
body{
    
    background:white;
    font-size: 0.9em;
    font-family:  'Raleway', serif;
    display: block;
    margin:0 auto;
font-weight: 300;
line height: 22px;

}
html, body {
    width: 100%;
    height: 100%;
    
}
div{
border:1px solid red;
}
* {
    box-sizing: border-box;
    
  margin:0;
  padding:0;
    text-decoration: none;
  }
 
/* bar above header */
.upperdd{
    width:100%;
    height:auto;
   
}
#hbar{
    margin-left:40%;

display: flex;
flex-wrap:wrap;
height:auto;
}

#hbar > div{
flex:1;    
  
  max-width:100%;


}
.ph2 {
   text-align:left;
   margin:auto 0;

}
.ph2 p a{
color:black;
}

/* class for contact in hbar*/

/* class for logo in hbar*/

#hbar .lh1 img{
    height: 100px;
    width:180px;
    z-index: 4;
    
}

    /* class for social logos in hbar*/

    .sh1{
  
    text-align:center;
    margin:auto 0;
display: flex;
flex-wrap: wrap;
}

.sh1 img{
    flex:1;
    height: 30px;
    width:30px;
    padding:2px;
}

.line{
    border-top:1.4px black solid;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:5px;
}







/*  nav bar*/
#nav{

  
 max-width:100%;
  margin-top:5px;
  position: relative;
}
                                      

.main-nav{
    display:flex;
    
    
    height:auto;
    margin-left:20%;

z-index:3;



    
}

.main-nav > li{
    
    padding:15px;
    
    
}
.main-nav > li > a{
    padding:5px;
   
}

.main-nav li a{
 
 width: auto;
}



#nav ul  >li:hover{
    text-decoration: underline;
    
}
#nav ul  >li:nth-child(3):hover{
    text-decoration: none;
    
}
.main-nav li ul {
  border:1px solid transparent;
  color:black;
 z-index: 39;

}

.main-nav  .icon{
    visibility: hidden;

}


}                                 /*header navigation tab-shown*/

#nav ul ul> li:hover{
    background: none;
}
#nav ul li a{
    color:black;
    display: block;
    padding:10px 10px;
   
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}
#nav ul li:nth-child(3):hover ul a{
    color:white;
}

#nav ul ul{
    background:black;
    border:1px solid transparent;
    
    border-top:0;
   
    padding:5px 0;
    position:absolute;
    min-width:140px;
    z-index:102;
    visibility: hidden;
    
    top:14%;
    font-size:0.9em; 
    
}


#nav li:hover > ul{
    visibility: visible;
}
#nav ul ul li:hover{
  
text-decoration: underline;
}

}


/* header*/
#header{
    max-width:100%;
   
    margin-bottom: 5%;
  
    text-align: center;
   
   overflow: hidden;
   
}

#header.hp1{
    background-attachment: fixed;
}

  .insideh{
   
    font-family: 'Arapey', serif;
    color:white;
    
    font-size: 4em;
   
    z-index:44;
    position: absolute ;
    top:35%;
    left:32%;
    border:1px white solid;
    border-radius:10px;
    padding:10px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
  }
  .insideh >h1{
    color:white;
  }
  /* about kSR*/
.about{
    display: flex;
    width:90%;
    height:40vh;
    margin-left:5%;
}
.about > div{
    margin:auto 0;
}
.al1{
    font-size:1.4em;
    flex-basis:40%;
    color:navy;
    font-family: 'Lato', sans-serif;

}
.ar1{
   
    flex-basis:80%;
    text-align: justify;
}
  /* between ething*/
  #ething{
   max-width:100%;
   

   
    height:80vh;
   
   
    position: relative;
  margin-bottom: 10px;
    
}
.ethingbg{
    background:url(bg3.jpg);
   max-width:100%;
   height: 70vh;
    z-index:77;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(6px);
    -webkit-filter: blur(6px);

}
.eparent{
    width:98%;
    
   

    z-index:33;
  position: absolute;
  padding:5px;
  top:33%;
  left:3%;
  height:auto;
  overflow: hidden;
}
.echild {
   
    
  display:flex;
flex-wrap: wrap;


}

.echild > div {
    flex:1;
    color: white;



height:100px;

padding:5px;
margin:5px;

}
.echild  >div > a{
    color:white;
    font-size: 1.1em;
    
    text-decoration: none;
    margin-left:20%;
    height:100px;
    width:120px;
    font-family: 'Montserrat', sans-serif;
}
.echild  a p{
    margin-left:10%;
}

.echild img{
    height:70px;
    width:70px;
}

/*Contact thing*/
.contactdown{
    
    height: 45vh;

margin-top:4.9%;
position: relative;
width:100%;

}
.cd1{
    
    position: absolute;
    width:100%;
    top:1%;
    
    
}
.cd1 h1{
    font-size: 2em;
    color:black;
    text-align: center;


}
.cd1 span{
    color:navy; 
    font-weight: 500;
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;;
}
.cdb1{
    border:1px solid ;
    border-radius:25px;
    background-color: black;
    width:150px;
    padding:10px;
    text-align: center;
    margin:0 auto;
}
.cdb1 a{
    color:white;
    text-decoration: none;
    font-size:1.2em;

}
  /*footer */
  #footer{
    color:#f5f5f6;
    background-color: #282828;
   
   height:auto;
   line-height: 1.4em;

padding-top:5%;

}

.fupper{
    display: flex;
    
 flex-wrap: wrap;
}
.fupper > div{
  flex:1;
    padding:10px;
    
   
    
}
.f1{
    text-align: center;
}
.fupper-1, .fupper-2{
    display: flex;
    flex-wrap: wrap;

}
.fupper-1>div{
flex:1;


}
.f1 li a{
    text-align: center;
    padding:5px;
    text-decoration: none;
    color:#f5f5f6;
   }
     #footer h1{
       font-size: 1.3em;
      
   }
   .f2 .hmap iframe{
       border-radius:10px;
   }
   .f2,.f3{
       text-align: center;
   }
   .f2 p,.f3 p{
       padding:5px;

   }

.fupper-2 .f3{

    flex:2;
    text-align: center;

}
.fupper-2 .f4{
    flex:1;

margin:5px;

}
.f4 > div{
    display:flex;
}

.f4{
    text-align:center;
    margin:0 auto;
}
.s1{
    padding:5px;
    margin-top:5%;
    margin-left:4%;
}
.s1 img{
    height:50px;
    width:50px;
    background: white;
}

.s1 img{
    border-radius:50px;
   
}
#footer > .line{
    border-top: 1px solid white;
}
.fbase{
width:100%;
height:8%;

}
.bnyo{

width:100%;
text-align: center;

margin:0 auto;

}
.bottom-nav1{
    line-height: 1.3em;
margin-left:27%;
    display: flex;
 
 width:auto;
    
}
.bottom-nav1 > li{

   
    margin-left:4%;
    
}
.bottom-nav1 > li a{
    color:white;
}
}

}


                                     /*yo man*/
                                                                                   /* CONTACT PAGE CODING*/
#contacthere{
    width:100%;   

}



.containercontact-11{
    display:flex;
    flex-wrap: wrap;
    height:60vh;
    padding:40px;
    
    background: white;
    
    

}

.containercontact-11 > div{
    padding:10px;
   
    color:black;
    
    
    
}
.containerdetail {

 text-align: center;
 margin:30px;
flex:3;
}
.containerdetail h1{
    text-transform:uppercase;
    font-size: 1.7em;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
.containerdetail p{
    line-height: 1.3em;
    padding:20px;
opacity:0.6;
text-align: center;
}
.containeradd{
    padding-left:20px;
    flex:1;
    border-left:1px black solid;
}
.containeradd p, .containeradd h1{
    padding:10px;
   
}
.containeradd h1{
    text-align: center;
    font-size: 1.4em;
    
    margin-top:18px;
    opacity: 0.6;
} 
                                                /*form Start*/
                                                

.registerf{
    width:80%;
    margin:0 auto;
    text-align: center;
    color:black;
    
     
   z-index:2;
  position: relative;
 max-width: 950px;
 min-width: 600px;

}
.registerf >h1{
    text-align: center;
    font-size:1.5em;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:5px;
}
.imbigform{
     padding:10px;
     width:85%;
     margin: 0 auto;
     text-align: center;
    
}
.imform{
    
   
   
   
    
}
.imform > div{
    padding:10px;

    



}
.imform > div:last-child{
    width:auto;
}
 input{
    width:100%;
    padding:10px;
    background-color: rgba(0, 0, 0, 0.06);
border:1px solid white;
}
textarea{
    width:100%;
    background-color: rgba(0, 0, 0, 0.06);
    border:1px solid white;
  
}

.contrb{
   
  margin:0 auto;
  text-align: center;
}
.registerbutton{
    width:auto;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border:1px solid black;    
   border-radius: 30px;
    color:white;
    font-size: 1.5em;
   
    
}

                                                                            /*Meet the team page starts*/


.teamoverview{
    width: 100%;
    padding:20px; 
                   /*used for testimonial too*/
    margin-top:5%;
  
    text-align: center;
height: auto;
color:black
}
.teamoverview div{
    margin:0 auto; 
    text-align: center;
    width:70%;
}
.teamoverview h1{
    padding:10px;
    font-size: 1.8em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.teamoverview p{
    padding:20px;
    opacity: 0.8;
    line-height: 1.3em;
    font-family: 'Montserrat', serif;
   
}
.teamoverview div .cdb1{
    margin:0 auto;
    width:135px;
}
.teammembers{
    width:80%;
    
    margin-left:10%;
    
    margin-top:30px;
    
    height:auto;
    }
    
    .members-1{
        display: flex;
      flex-wrap: wrap;
        
    }
    .members-1 >div {
        
      
     
        background: white;
    
        text-align:center;
        color:black;
        flex:1;

    }
    .i-1{
        height: 500px;

      width: 320px;
    
    }
    
    .i-1  img{
        width:320px;
        height:400px;
        
    }

  .rr{
      overflow:hidden;
      height: 400px;
      position: relative;
      width:320px;
      text-align: center;
margin:0 auto;

  }

  
  .i-1 .rr .content {
    position: absolute; /* Position the background text */
  
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */
    
   
    z-index: 12;
   
    bottom:0;
    


visibility: hidden;
  }

.rr:hover .content{
    visibility: visible;

}

                                                  /*Work*/
.simplecontwork{
    
    width:80%;
    margin-left:12%;
    color:black;
}
.simplecontwork > div:last-child{
    width:12%;
}
.cont11-1{
  display: flex;
flex-wrap: wrap;
  padding:20px;
}
.cont11-1 > div{
    padding:20px;
   
    padding-bottom:10px;
  
}
.cont11-1-1{
    flex:3;
  
  }
.cont11-1-1 h1{
  padding:10px;

}
.cont11-1-1 h2{
padding:10px;
font-size:1.3em;
text-align: center;
}
.cont11-1-1 p{
    text-align: center;
    padding:20px;
    opacity: 0.8;
    line-height: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;


}

.cont11-1-2{
    border-left:1px solid black;
    flex:1;
    
    
}
.cont11-1-2 h1{
    font-size: 1.3em;
    padding:20px;
}
.cont11-1-2 p{
    padding:20px;
    opacity: 0.8;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;

}

.contactwo1{
    margin:0 auto;
    text-align: center;
    min-width: 140px;
    border:1px solid transparent;
    background: #282828;
    border-radius:10px;
    padding:10px;
   
  

}
.contactwo1 a{
    color:white;
    font-size: 1.3em;
   
}

@media only screen and (max-width:600px){
    #hbar{
        display: block;
    
       
    }
    #hbar > div {
        text-align: center;
        margin: 5px auto;
    }
    .sh1 {
        padding:0 25%
    }
    .sh1 a{
       
        margin: 0 auto;
        
    }
    .sh1 img{
    
      
        padding:0;
    }
    .insideh{
        padding:0;
        font-size: 3em;
    right:4%;
    top:40%;
    left:0;
    }
    #header .hp1 {
     height:200px;
     max-width:600px;
     
     min-width:130px;
     background-attachment:scroll;
     -webkit-background-attachment: scroll;
     -webkit-background-size: 350px 150px;
     background-size:auto;
     border:1px solid red;
    }
    #ething{
        height:700px;
        
        
    }
    #ething> div{
        padding:0
    }
    .ethingbg{
        height: 100%;
    }
    .eparent{
        top:0;
        left:0;

    }
    .echild{
     
        display: block;

  }
    .echild > div{
        overflow: hidden;
      width: 200px;
      margin: 0 auto;
      padding:0;

      ;
    }
    .echild  >div > a{
        width:30px;
    }
    .contactdown{
        height:30vh;
    }
 .fupper > div{
     padding:5px;

 }
 .fupper-2 .f4{
    flex:1;

margin:2px;

}
.fupper-1, .fupper-2{
    display: block;
} 
.registerf{
    min-width:300px;
   
}
.imbigform{
    width: 100%;
    padding: 0;
    min-width:300px;

}
.teamoverview div{
    
    width:95%;
}
.teamoverview{
    padding: 5px;
}
}
                                /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media  only
screen and (max-width: 700px) {
    .main-nav li{
      display: none;
    }
    .main-nav li:last-child {
     
      display: block;
      margin-left:0%;
      
    }
  
  .main-nav{
      width:100%;
      height:auto;
      
      z-index:205;
      background: #f5f5f5;
      margin-left:0;
    
      
  }
  .main-nav  ul{
      position: relative;
      display: none;
      height:auto;
  }
   .main-nav ul ul li:last-child{
text-align: center;
  }


}
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media only screen and (max-width: 700px) {
      .main-nav.responsive 
    {position: relative;
    display: block;
    width:100%;
    text-align: center;
    height:auto; 
   
    
}
.main-nav .icon{
    visibility: visible;
}

      .main-nav.responsive .bused {
      position: absolute;
      
      top: 0;
    }
      .main-nav.responsive li {
      float: none;
      display: block;
      text-align: center;
      width:100%;
      height:auto;
      padding:10px;

    }
      .main-nav.responsive ul{
        height:auto;

    }
      .main-nav.responsive  li{
        height:auto;

    }
      .main-nav.responsive li:last-child{
text-align:left;
margin-left:5%;
margin-bottom:5%;
height: auto;
width:auto;
    }
      .main-nav.responsive  {
    height:auto;}
      .main-nav.responsive ul li:last-child {
        text-align: center;
        margin-left:0%;
       
    
    }
    
      #nav .main-nav.responsive   li:hover  ul {
        display: block;
        
     
      position: relative;
width: 100%;;
   
    }
   
  }



     /*small devices (portrait tablet and large phones, 600px and up) */

   /*media for Extra small phones( 600px and down)*/
@media only screen

and (max-width :600px) {

}
/*medium devices (landscape tablets 768px and up) */

@media only screen and (max-width:768px){
    .fupper-1, .fupper-2{
        display: block;
    }
    .f4> div {
        margin-left:25%;
    
      
    }
#hbar{
    margin-left:5%;
}


.insideh{
    left:15%;
}


.bottom-nav1{
    margin-left:4%;
}
.bottom-nav1 > li{
    margin-left:3%;
}
.cont11-1{
    display: block;
}
.cont11-1-2{
    border-left:0;
    border-top:1px solid black;
}
.containercontact-11{
    display: block;
    height: auto;
    padding:10px;
}
 .containeradd {
    
    
    border-top:1px solid black;
border-left:0;
}
.registerf{
    width: 100%;
}
.imbigform{
    width: 95%;
    padding: 0;
}
.imform > div{
    padding:3px;
}
.i-1 .rr .content {
  
    bottom:1%;
    visibility: visible;
     }
     .teamoverview div{
        
        width:90%;
    }
    .cont11-1{
        padding: 0;
    }
    .cont11-1-1{
        padding: 0;
    }
    }



                                                                  /*large devices (laptop/desktops 992px and up) */
@media only screen and (max-width:860px)and (min-width:700px){

 
   
    
    /* class for contact in hbar*/
    
    /* class for logo in hbar*/
    
  
        /* nav bar */
      
      .main-nav{
          margin-left:3%;   
      }
    
      
      
                                      /*header navigation tab-shown*/
      
      #nav ul ul{
        
          font-size:0.9em; 
      }
    
    /* header*/
    
      .insideh,.hj1{
      left:20%;
       
      }
    
      /* about kSR*/
      .about{
    
        height:40vh;
    }
    /* between ething*/
    #ething{
       
        height:70vh;
    }
    /*Contact thing*/
    .contactdown{
        
        height: 50vh;
    
    
    }
   
    .fupper{
        display: block;
    }    
    
    
                                       /*Meet the team page starts*/
    
   
  


.teammembers > div{
    width:90%;
    
    margin-left:0;
}
.i-1{
    height: auto;
    width: 450px;
}
.i-1  img{
    width:450px;
    height:500px;
}
.rr{
   
   width:450px;
    padding:10px;
    
    overflow: hidden;
    height: auto;

}
.i-1 .rr .content {
  
 bottom:1%;
 visibility: visible;
  }

    
                /* contact page*/
    
   
    .cont11-1{
        display: block;
    }
    .cont11-1-2{
        border-left:0;
        border-top:1px solid black;
    }
    .containercontact-11{
        display: block;
        height: auto;
    }
     .containeradd {
        
    
        border-top:1px solid black;
    }
    .registerf{
        width: 100%;
    }
    .imbigform{
        width: 90%;
        padding: 0;
    }
    .imform > div{
        padding:5px;
    }
}
    @media only screen and (max-width:1060px) and (min-width:865px){
      
        .insideh,.hj1{
            left:29%;
             
            }
           
            .rr{

                margin-left:13%;
            }
            .fupper{
                display: block;
            }    

    }
@media only screen and (min-width:1426px){

  
    /* class for contact in hbar*/
    
    /* class for logo in hbar*/
    
                                                             /*large devices ( large one laptop/desktops 1200px and up) */
    #hbar .lh1 img{
        height: 100px;
        width:180px;
        
    }
    
        /* nav bar */
      
      .main-nav{
          margin-left:20%;   
      }
    
      
      
                                      /*header navigation tab-shown*/
      
      #nav ul ul{
          
          font-size:1em; 
      }
    
    /* header*/
    
      .insideh,.hj1{
      left:37%;
        
      }
    
      /* about kSR*/
      .about{
    
        height:30vh;
    }
    /* between ething*/
    #ething{
        width:100%;
        height:40vh;
    }
    /*Contact thing*/
    .contactdown{
        
        height: 25vh;
   
    
    }
    .cd1{
        top: 6.5%;
        
    }
    
   
    .bnyo{
    
        width:70%;
        margin-left:15%;
        height:10%;
        }
        .bottom-nav1{
            line-height: 1.3em;
            display: flex;
            
            width:80%;
            margin-left:25%;
            
        }
                                       /*Meet the team page starts*/
    
    .teamoverview{
    height:30vh;
    }
    .teammembers{
    margin-top:10px;
    
    
    }
    .members-1 >div {
        padding:5px;
        width:100%;
        background: white;
        
        text-align:center;
        color:black;
        flex:1;
    }
    
    
  
   
    /*Meet the team page starts*/
    
    .teamoverview{
    height:30vh;
    }
    .teammembers{
      
        margin-top:10%;
       
    }
    .members-1{
        display: flex;
       
        
    }
    .members-1 >div {
        padding:10px;
        
        background: white;
       
        text-align:center;
        color:black;
       
        margin:auto;
    }
    
    .members-1 >div img{
       
    }
   
    
                /* contact page*/
    
  
  

}
                                                              













